div.eventCard {
  width: 240px;
  height: 240px;
}

.Action.eventAddButton {
  width: 240px;
  height: 240px;
  border-radius: 5px;
  background: #333;
  p {
    font-size: 60px;
  }
}

h3 {
  color: #fff;
  padding-bottom: 22px;
}

p {
  color: #fff;
  opacity: 0.8;
}
button {
  align-items: center;
  width: 50%;
  height: 60px;
  color: white;
  background: #1a3c34;
  border-radius: 10px;
}
.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
