div.listContainer {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .headerContainer,
  .employeeItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 3px;
    width: 100%;
    p {
      width: 100%;
      padding: 10px;
    }
  }
  .headerContainer p {
    font-weight: bold;
    background-color: #1a3c34;
    color: #fff;
  }

  .employeeItem:hover {
    background-color: #29423b;
    color: #fff;
  }
}
