div.listContainer {
  border: 1px solid #3d3d3d;
  border-radius: 3px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .headerContainer,
  .employeeItem,
  .attendeeItem {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 3px;
    width: 100%;
    p {
      width: 100%;
      padding: 10px;
    }
    .editButton {
      height: 28px;
      width: 100%;
      margin: 10px;
      background: #1b3630;
      color: white;
      border-radius: 10px;
      box-shadow: none;
    }
  }
  .headerContainer p {
    font-weight: bold;
    background-color: #1a3c34;
    color: #fff;
  }

  .employeeItem:hover,
  .attendeeItem:hover {
    background-color: #29423b;
    color: #fff;
  }
}
